mwl-order.suo
bin/
obj/
gen/
TestResults/
_ReSharper.mwl-order/
ext/*/
ext/*.zip
ext/*.tar.gz
ext/*.tar.bz2
*.ReSharper.user
*.user
/tmp/
/pkg/
/ext/
*.suo
_ReSharper.*
*.tmp
*.zip
*.dll
*.pdb
*.exe
*.user
*.orig
*.class
*.MF
*.sdf
*.mdf
*.jar
desktop.ini
lint.xml
.settings/
packages/

#android
.gradle/
Code/Android/*/build/
Code/Android/*/bin/
Code/Android/*/obj/
Code/Android/*/gen/
Code/Android/.idea/
*.iml
Code/Client/Android/local.properties

#ignore linux files
*~

# Ignore StyleCop Cache
StyleCop.cache

deploy-to-dev.ps1

/Build/winscp/WinSCP.ini
