<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="XSockets" version="3.0.4" targetFramework="net45" />
  <package id="XSockets.Core" version="3.0.4" targetFramework="net45" />
  <package id="XSockets.Plugin.Framework" version="1.4.0" targetFramework="net45" />
  <package id="XSockets.Server" version="3.0.4" targetFramework="net45" />
</packages>